/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





/*************                             Navigation bar                         ************/

#main_nav_black_bar{
    height: 25px;
    background-color: black;
}

.nav_bar{
    height: 54px;
    text-align: center;
    background-color: #53a746;
}

.nav_bar img{
    vertical-align: middle;
    -webkit-transform: translateY(-22%);
    -moz-transform: translateY(-22%);
    -ms-transform: translateY(-22%);
    -o-transform: translateY(-22%);
    transform: translateY(-22%);
}




/*************                             Header                         ************/



.header{

    background-image:  url("../img/header-crowd-bg.jpg");
    background-size: cover;
}

.main_home__header{
    background-color: rgba(0,0,0, 0.7);
    padding: 6em 1em;
    color: #fff;
    line-height: 1.1;
}

.main_home__header h1{
    font-size: 3em;
    font-weight: 700;
}

.main_home__header span{
    font-size: 2.5em;
    font-weight: 600;
    color: #53a746;
}

.main_home__header p{
    font-size: 1.2em;
}


/***************                           main_board                       ******************/

.main_board{
    margin-top: 45px;
    margin-bottom: 45px;

}

.name_bar{
    background-color: #53a746;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.name_bar h2{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.col-sm-5, .col-sm-4{
    padding-left: 0 !important;
    padding-right: 0 !important;
}



/***************         ///               left main_board         ///           ******************/


.left_part{
    margin-bottom: 10px;
}

.left_content #new_information{
    background-color: #53a746;
    color: white;
}

#new_information img{
    height: 100%;
    width: 100%;
}

#new_information__content{
    padding: 3rem;
    padding-bottom: 6rem;
}

#new_information__date{
    font-size: 12px;
}

#new_information h3{
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.left_content #facebook_bar{
    height: 28px;
    float: left;
    width: 30px;
    margin-top: 15px;
}

#new_information a:hover{
    color: white;
}

.information_part{
    padding: 3rem;
    background-color: #f1f1f1;
}

.information_part{
    border-top: 1px solid #e2e2e2;

}

.information_part a{
    color: #000 !important;
    font-size: 24px;
    font-weight: 700;

}

.information_part button{
    padding: 18px 26px;
    background-color: #53a746;
}

.old_information__date{
    font-size: 12px;
    color: #53a746;
}

/***************         ///               middle main_board         ///           ******************/

.middle_part .middle_block {
    position: relative;
    margin-bottom: 10px;
}

.middle_part .middle_block img{
    height: 100%;
    width: 100%;
}

.img_darker{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.6;
}

.img_changer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    opacity: 0;
}

.middle_part .middle_block h3{          /*text*/
    position: absolute;
    left: 0.5em;
    bottom: 1em;
    margin: 0px;
    color: white;
    font-weight: 600;
}




/***************         ///               right main_board         ///           ******************/
/********        first table      right main_board    ********/

.table_row{
    overflow: hidden;
    padding: 0px 3px;
}

.table_row_date, .table_row_hour, .table_row_vs_team, .table_row_letter{
    float: left;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 0px 9px 0px;
    margin: 0px 1%;
}

.table_row_date, .table_row_hour{
    width: 16%;
    text-align: center;
    color: #53a746;
}

.table_row_vs_team{
    width: 54%;
    text-align: left;
}

.table_row_letter{
    width: 6%;
    text-align: center;
    color: #53a746;
}

#table_head{
    overflow: hidden;
    padding: 0px 3px;

}

.table_head_date, .table_head_hour, .table_head_vs_team, .table_head_letter{
    float: left;
    color: white;
    background-color: #d7be63;
    border-right: 1px solid #b89e42;
    padding: 10px 0px;
}

.table_head_date{
    width: 18%;
    text-align: center;
}

.table_head_hour{
    width: 18%;
    text-align: center;
}

.table_head_vs_team{
    width: 56%;
    text-align: left;
}

.table_head_vs_team span{
    margin-left: 1.79%;
}

.table_head_letter{
    width: 8%;
    text-align: center;
    border-right: none !important;
}

 /* ********        second table      right main_board    ******** */

#second_table{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    background-color: #53a746;
    color: white;
}

#second_table div{
    text-align: center;
}

#second_table_1st_row{
    overflow: hidden;
    border-bottom: 1px solid #377735;
    padding: 20px 5px;
}

#first_row_left{
    float: left;
    width: 50%;
    font-size: 16px;
    font-weight: 600;
}

#first_row_date{
    float: right;
    width: 50%;
    font-size: 12px;
}

.second_row_logo{
    float: left;
    width: 35%;
}

.second_row_logo img{
    max-height: 54px;
    max-width: 50px;
    margin: 15px 0px;
}

#left_logo{
    border-right: 1px solid #377735;
}

#right_logo{
    border-left: 1px solid #377735;
}

#second_row_scores{
    float: left;
    width: 30%;
}

#second_row_scores #match_score{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 5px;
}

#second_row_scores #first_half_score{
    font-size: 14px;
    letter-spacing: 4px;
}

.teams{
    float: left;
    width: 50%;
    border-top: 1px solid #377735;
}

.teams h4{
    font-size: 14px;
    font-width: 500;
    margin: 20px 0;
}

#teams_left{
    border-right: 1px solid #377735;
}

/* ********        third table      right main_board    ******** */
.table_row{
    /* You find options in the first_table section */
}

.table_row_place, .table_row_team, .table_row_round, .table_row_points{
    float: left;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 0px 9px 0px;
    margin: 0px 2%;
}

.table_row_place, .table_row_round, .table_row_points{
    text-align: center;
    color: #53a746;
}

.table_row_place{
    width: 6%;
    text-align: center;
    color: #53a746;
}

.table_row_team{
    width: 62%;
    text-align: left;
}

.table_row_round{
    width: 8%;
    text-align: center;
    color: #53a746;
}

.table_row_points{
    width: 8%;
    text-align: center;
    color: #53a746;
}

#table_span{
    overflow: hidden;
    padding: 0px 3px;
}

.table_span_place, .table_span_team, .table_span_round, .table_span_points{
    float: left;
    color: white;
    background-color: #d7be63;
    border-right: 1px solid #b89e42;
    padding: 10px 0px;
}

.table_span_place{
    width: 10%;
    text-align: center;
}

.table_span_team{
    width: 66%;
    text-align: left;
}

.table_span_team span{
    margin-left: 1.79%;
}

.table_span_round{
    width: 12%;
    text-align: center;
}

.table_span_points{
    width: 12%;
    text-align: center;
    border-right: none !important;
}

.above_GKS div{
    border-bottom: none !important;
}


/***************                           ***main_table***                       ******************/

.main_table{
    overflow: hidden;
    background-color: #06190e;
    background: -webkit-linear-gradient(left, #06190e,#0f2e1b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #06190e,#0f2e1b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #06190e,#0f2e1b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #06190e,#0f2e1b); /* Standard syntax */
    color: #1d4a1d;
}

.main_table .content{
    padding: 50px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1190px;
    margin-bottom: 60px;
}

#scroll_table{
    overflow: auto;
    margin-bottom: 10px;
    padding: 10px 17px;

}

#table{
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

#main_table__head{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

#main_table__body{
    padding: 0 20px;
}

#left_index{
    float: left;
}

#left_index .cell_i{
    width: 20px;
    height: 20px;
    font-size: 12px;
}

#columns{
    float: left;
}

.columns__column{
    float: left;
}

.columns__column:nth-child(1) .cell_c{
    border-left: 1px solid #1d4a1d;
}

.columns__column:hover .cell_c{
    background-color: rgba(55, 96, 49, 0.83);
}

.columns__column  .cell_c{
    width: 35px;
    height: 20px;
    border-top: 1px solid #1d4a1d;
    border-right: 1px solid #1d4a1d;
}

.bottom_index{
    border-top: 1px solid #1d4a1d;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}
/* ********        main_table tarnovia_place    ******** */

.tarnovia_place{
    position: relative;
}

.circle{
    height: 7px;
    width: 7px;
    background-color: #d7be63;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: visible;
}

.pop_up{
    position: absolute;
    top: -150%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    background-color: #53a746;
    border-radius: 5px;
    z-index: -1;
}

.columns__column:hover .pop_up{
    z-index: 999;
}

.logo{
    float: left;
    width: 35%;
    height: 100%;
}

.logo img{
    text-align: center;
    height: 90%;
    width: 90%;
    padding: 5px;
    margin-top: 3px;
    margin-left: 3px;
}

#left_logo{
    border-right: 1px solid #377735;
}

#right_logo{
    border-left: 1px solid #377735;
}

#scores{
    float: left;
    width: 30%;
    text-align: center;
    color: white;
}

#scores #match_score{
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    padding-top: 5px;
}

.pointer {
    height: 10px;
    width: 10px;
    background-color: #53a746;
    position: absolute;
    -webkit-transform: translate(701%, 450%) rotate(45deg);
    -moz-transform: translate(701%, 450%) rotate(45deg);
    -ms-transform: translate(701%, 450%) rotate(45deg);
    -o-transform: translate(701%, 450%) rotate(45deg);
    transform: translate(701%, 450%) rotate(45deg);
}



/* ********        main_table footer    ******** */



#main_table__footer .first_group{
    float: left;
    border-top: 1px solid #1d4a1d;
    border-bottom: 1px solid #1d4a1d;
    border-left: 1px solid #1d4a1d;
}

#main_table__footer .second_group{
    border: 1px solid #1d4a1d;
    float: left;
    margin-bottom: 30px;
}

#main_table__footer .elements{
    display: inline-block;
    padding: 5px 10px;
}
/***************                           Carousel                         ******************/
#carousel_container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.carousel{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#description{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: black;
    font-size: 14px;
    font-weight: 600;
    z-index: 999;
}

#description span{
    font-size: 20px;
}

.carousel-inner>.item>img{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/************************         ***The three musketeers***          ************************/

#the_three_musketeers{
    height: 640px;
    overflow: visible;
    position: relative;
    background: radial-gradient(ellipse at center,#c8c8c8 0,#adadad 100%);
    margin: 60px 0 0 0;
}

#three_pictures{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#left_player{
    position: absolute;
    left: -5%;
    top: -55px;
}

#middle_player{
    position: absolute;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -57px);
    -moz-transform: translate(-50%, -57px);
    -ms-transform: translate(-50%, -57px);
    -o-transform: translate(-50%, -57px);
    transform: translate(-50%, -57px);
    height: 640px;
    overflow: hidden;
}

#right_player{
    position: absolute;
    left: 67%;
    top: -21px;
}

#musketeers_footer{
    overflow: hidden;
    background-color: #53a746;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 164px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
}

.text_m_footer{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

#logo_m_footer{
    display: inline-block;
    margin-top: 25px;
}

#logo_m_footer img{
    height: 114px;
    width: auto;
}
/***************                           Responsiveness                       ******************/

@media only screen and (min-width:1440px ){
    /* styles for browsers larger than 1440px; */
    .main_home__header{
        font-size: 20px;
    }
}

@media only screen and (min-width:1150px){
    /* styles  smaller than 1100px; */
    #scroll_table{
        overflow: visible;
    }
}

@media only screen and (min-width:993px) and (max-width: 1440px){
    /* styles for browsers larger than 993px; */
    .main_home__header{
        font-size: 18px;
    }

    .main_home__header{
        padding: 6em 3em;
    }
}

@media only screen and (min-width:767px) and (max-width: 992px){
    /* styles for browsers larger than 767px; */

    .container{
        width: 100% !important;
    }

    .main_home__header{
        font-size: 12px;
    }

    .name_bar h2{
        margin: 0px;
    }
}

@media only screen and (max-width:948px){

    #the_three_musketeers{
        display: none;
    }
}

@media only screen and (min-width:480px) and (max-width: 767px){
    /* styles for browsers larger than 480px; */
    .main_home__header{
        font-size: 10px;
    }
}

@media only screen and (max-width:675px){
    /* styles for mobile browsers smaller than 675px; */
    #main_table__footer .first_group{
        border-right: 1px solid #1d4a1d;
        border-bottom: 0.5px solid #1d4a1d;
    }

    #main_table__footer .second_group{
        border-top: 0.5px solid #1d4a1d;
    }
}


@media only screen and (max-width:480px){
    /* styles for mobile browsers smaller than 480px; */
    .main_home__header{
        font-size: 8px;
    }
}

@media only screen and (max-width:305px){
    /* styles for mobile browsers smaller than 480px; */

    .second_row_logo img {
        width: 90%;
    }
    #second_row_scores #match_score{
        font-size: 30px;
    }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
