/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





/*************                             Navigation bar                         ************/

#main_nav_black_bar{
    height: 25px;
    background-color: black;
}

.nav_bar{
    height: 54px;
    text-align: center;
    background-color: #53a746;
}

.nav_bar img{
    vertical-align: middle;
    -webkit-transform: translateY(-22%);
    -moz-transform: translateY(-22%);
    -ms-transform: translateY(-22%);
    -o-transform: translateY(-22%);
    transform: translateY(-22%);
}




/*************                             Header                         ************/



.header{

    background-image:  url("../img/header-crowd-bg.jpg");
    background-size: cover;
}

.main_home__header{
    background-color: rgba(0,0,0, 0.7);
    padding: 6em 1em;
    color: #fff;
    line-height: 1.1;
}

.main_home__header h1{
    font-size: 3em;
    font-weight: 700;
}

.main_home__header span{
    font-size: 2.5em;
    font-weight: 600;
    color: #53a746;
}

.main_home__header p{
    font-size: 1.2em;
}


/***************                           main_board                       ******************/

.main_board{
    margin-top: 45px;
    margin-bottom: 45px;

}

.name_bar{
    background-color: #53a746;
    padding: 20px;
    margin-bottom: 10px;
}

.name_bar h2{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.col-sm-5, .col-sm-4{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

/***************         ///               left main_board         ///           ******************/


.left_part{
    margin-bottom: 10px;
}

.left_content #new_information{
    background-color: #53a746;
    color: white;
}

#new_information img{
    height: 100%;
    width: 100%;
}

#new_information__content{
    padding: 3rem;
}

#new_information__date{
    font-size: 12px;
}

#new_information h3{
    color: white;
    font-size: 32px;
    font-weight: 600;
}

#new_information a:hover{
    color: white;
}

.information_part{
    padding: 3rem;
    background-color: #f1f1f1;
}

.information_part{
    border-top: 1px solid #e2e2e2;

}

.information_part a{
    color: #000 !important;
    font-size: 24px;
    font-weight: 700;

}

.information_part button{
    padding: 18px 26px;
    background-color: #53a746;
}

.old_information__date{
    font-size: 12px;
    color: #53a746;
}

/***************         ///               middle main_board         ///           ******************/

.middle_part .middle_block {
    position: relative;
    margin-bottom: 10px;
}

.middle_part .middle_block img{
    height: 100%;
    width: 100%;
}

.img_changer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0, 0.6);

}

.middle_part .middle_block h3{          /*text*/
    position: absolute;
    left: 0.5em;
    bottom: 1em;
    margin: 0px;
    color: white;
    font-weight: 600;
}
/*
.middle_part .middle_block h3:hover{
    text-decoration: underline;
}

.img_changer:hover{
    background-color: rgba(83, 167, 70, 0.6);
}



/***************                           Responsiveness                       ******************/

@media only screen and (min-width:1440px ){
    /* styles for browsers larger than 1440px; */
    .main_home__header{
        font-size: 20px;
    }
}

@media only screen and (min-width:1024px) and (max-width: 1440px){
    /* styles for browsers larger than 1024px; */
    .main_home__header{
        font-size: 18px;
    }

    .main_home__header{
        padding: 6em 3em;
    }
}

@media only screen and (min-width:720px) and (max-width: 1024px){
    /* styles for browsers larger than 720px; */
    .main_home__header{
        font-size: 12px;
    }
}

@media only screen and (min-width:480px) and (max-width: 720px){
    /* styles for browsers larger than 480px; */
    .main_home__header{
        font-size: 10px;
    }
}

@media only screen and (max-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .main_home__header{
        font-size: 8px;
    }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
